<h4>Welcome to Recipe Box</h4>

<p>Here are your recipes:</p>

<ul>
  <% @recipes.each do |recipe| %>
    <li> <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a> </li>
  <% end %>
</ul>

<p>Create a new recipe:</p>

<form action="/recipes" method="post">
  <label for="name">Name of recipe</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add recipe</button>
</form>

<p>search recipes by ingredient</p>
<form action="/recipes" method="get">
  <label for="ingredient_id">Select an ingredient</label>
  <select id='ingredient_id' name='ingredient_id' type='text'>
    <% @ingredients.each do |ingredient| %>
      <option value="<%= ingredient.id%>"> <%= ingredient.name %> </option>
    <% end %>
  </select>

  <button type="submit">Search recipes</button>
</form>


<a href="/tags">view all recipe tags</a>
