<h4>Welcome to Recipe Box</h4>

<p>Here are your recipes:</p>

<ul>
  <% @recipes.each do |recipe| %>
    <li> <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a> </li>
  <% end %>
</ul>

<p>Create a new recipe:</p>

<form action="/recipes" method="post">
  <label for="name">Name of recipe</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add recipe</button>
</form>

<a href="/recipes">View recipes</a>
